main
	background: #f8f8f8
	min-height: 88vh

#main-content-wrap
	max-width: 960px
	margin: 0 auto
	padding: 50px 0

.profile-section
	background: #ffffff
	border: 1px solid #eeeeee
	padding: 20px
	margin: 0 auto 15px

.section-title
	margin: 0 auto 10px


.field-label
	margin: 0
	color: #aaaaaa
	font-size: 0.8em

.field-value
	margin-top: 0
	border: 1px dashed #ffffff
	&:hover
		border-color: #dddddd
	&.editing-field
		border-color: blue

.project-title
	margin-bottom: 0
.project-description
	font-size: 0.9em
	color: #888888
	margin: 5px auto 15px